



#site-menu,.page-own #page-title,.page-own #page-subtitle,.page-own #concierge,.page-own #customer-quote,#admin-menu,footer{display:none !important;}body{background:white;color:#000;width:100%;}#main{float:none;}.panel-2col-hero #left-col,#left-col{border-right:0 none;display:block;width:100%;}#right-col{display:none;}.replace-text > span{color:#000;font-size:100%;line-height:100%;opacity:1;}.replace-text img{display:none;}.page-print{display:none;}
